# Core Configuration
LANG_CHOICE="EN"                # DE|EN or add your own language file into locales/{language}.cnf
OPEN_NEMO=false
INTERVAL_TIME_SEC="2"
DOWNLOAD_DIR="$HOME/Downloads"
INSTALL_DIR="$HOME/.local/share/YoutubeClipster"
YTDLP_BIN="$INSTALL_DIR/yt-dlp"
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64)"

APP_NAME="LORESOFT YOUTUBE CLIPSTER"
APP_VERSION="v1.06"
APP_TITLE="$APP_NAME - $APP_VERSION"
